{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/css2.css' %}">
    <link rel="stylesheet" href="{% static '/css/fontcss.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>délégation national de la sécurité routière | site web officiel</title>
</head>
<body style="background: url('{% static 'images/pic-1.jpg' %}'); background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
    {% include 'parts/nav.html' %}
    {% block content %}
    {% endblock %}

<script src="{% static '/js/bootstrap.js' %}"></script>
<script src="{% static '/js/jQuery.js' %}"></script>
<script src="{% static '/js/loader.js' %}"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<script src="{% static '/js/b99e675b6e.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>

<!--sidebar scripts-->
<script>

$('#birthDate').change(function(){
    let yearOfBirth = new Date($(this).val()).getYear();
    let today = new Date().getYear()
    

    $('#calculateAge').val(today - yearOfBirth);
});








$(document).ready(function(){
      $('#newRow').click(function(){
          
          let addcontrol = '<tr id="rec-1">'
              addcontrol += '<td><input type="date" class="input"></td>'
              addcontrol += '<td><select name="epreuve" class="input"><option value="code">Code</option><option value="manoeuvre">Manoeuvre</option><option value="conduite">Conduite</option></select></td>'
              addcontrol += '<td><select name="result" class="input"><option value="R">Reçu</option><option value="E">Echoué</option></select></td>'
              addcontrol += '<td><!-- seclect option input -->Taslighoua Mohamed</td>'
              addcontrol += '<td><button class="btn btn-danger delete-record" data-id="3">suprimer</button></td>'
              addcontrol += '</tr>';
              
              $('#tbl_posts_body').append(addcontrol);
        });


        $(document).on('click', '.delete-record', function(e){
            var r = $(this).closest('tr').remove();
        });
    });

$("#hamburger").click(function(){
$("#sidebar").toggleClass("opensidebar sidebar");
$('#hamburger').toggleClass("hamburger nothamburger");
});


$('li').click(function(){
$(this).find('ul').stop().slideToggle(500);
$(this).find('#sahm').toggleClass("sahm sahm1");
});



$.getJSON("{% static '/js/wilaya.json' %}", function(data) {

    let wilayaSelectInput = document.querySelector('#wilaya');



    wilayaSelectInput.innerHTML = data.map(wilaya => '<option>' + wilaya.name + '</option>')
});

$.getJSON("{% static '/js/commune.json' %}", function(data) {

    let commune = document.querySelector('#commune');



    commune.innerHTML = data.map(c => '<option>' + c.commune_name + '</option>')
});
$.getJSON("{% static '/js/posatlCode.json' %}", function(data) {

    let codePostal = document.querySelector('#code_postal');



    codePostal.innerHTML = data.map(postCode => '<option>' + postCode.post_code + '</option>')
});





// Calendar----------------------
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },
      initialDate: new Date(),
      navLinks: true, // can click day/week names to navigate views
      businessHours: true, // display business hours
      editable: false,
      selectable: true,
      locale:'fr',
      buttonText:{
          today:'aujourd\'hui',
          month:'le moi',
          week:'la semaine',
          day:'le jour',
          list:'la liste',
      },
      events: [
        {
          title: 'Business Lunch',
          start: '2020-09-03T13:00:00',
          constraint: 'businessHours'
        },
        {
          title: 'Meeting',
          start: '2020-09-13T11:00:00',
          constraint: 'availableForMeeting', // defined below
          color: '#257e4a'
        },
        {
          title: 'Conference',
          start: '2020-09-18',
          end: '2020-09-20'
        },
        {
          title: 'Party',
          start: '2020-09-29T20:00:00'
        },

        // areas where "Meeting" must be dropped
        {
          groupId: 'availableForMeeting',
          start: '2020-09-11T10:00:00',
          end: '2020-09-11T16:00:00',
          display: 'background'
        },
        {
          groupId: 'availableForMeeting',
          start: '2020-09-13T10:00:00',
          end: '2020-09-13T16:00:00',
          display: 'background'
        },

        // red areas where no events can be dropped
        {
          start: '2020-09-24',
          end: '2020-09-28',
          overlap: false,
          display: 'background',
          color: '#ff9f89'
        },
        {
          start: '2020-09-06',
          end: '2020-09-08',
          overlap: false,
          display: 'background',
          color: '#ff9f89'
        }
      ]
    });

    calendar.render();
  });











</script>
</body>
</html>