{% extends 'base.html' %}
{% block content %}

<div class="wrap mt-5">
    <div class="contain">
      <div class="title">Changer votre mot de passe</div>
      <div class="content text-white">
        <form class="mt-5" method="POST" action="{% url 'password_change' %}">
            {% csrf_token %}

            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>

            {% endfor %}

            {%  for field in form %}
                <div class="form-group">
                    {{field.label}}
                    {{field}}
                </div>
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{field.errors}}
                    </div>
                {% endif %}
            {% endfor %}

                <input class="btn bg-warning mt-5" type="submit" value="Confirmer">
                <a href="{% url 'index' %}" class="btn btn-success mt-5">Annuler</a>
        </form>
      </div>
    </div>
{% endblock %}