{% extends 'base.html' %}


{% block content %}



<section class="liste" style="flex-direction: column;">
    <h1 style="margin-bottom: 15px;" class="text-white">Recherche</h1>
    <div class="search bg-transparent text-white w-100 p-5">
        <form class="filter-search" method="GET">
          <div class="w-100" style="display: flex; justify-content: space-around;">
                   {{CentreFilter.form.as_p}}
          </div>
          <input type="submit" value="Rechercher" class="btn btn-danger" style="height: 40px; position: relative; top: 25px; left: 20px;">
        </form>
    </div>
    <hr style=" width: 100%; background: #fff;">
    <a href="{% url 'create_centre' %}" class="btn btn-primary" style="display: block;">Ajouter un centre d'examen</a>
<div class="table w-100" style="height: 80vh;">
   
<table>

    <thead>
        <th style="text-align: center;">Matricule</th>
        <th style="text-align: center;">Nom d'utilisateur</th>
        <th style="text-align: center;">Nom</th>
        <th style="text-align: center;">Wilaya</th>
        <th  style="text-align: center;">Option</th>
    </thead>
    <tbody style="background-color: #FFF;">
        {% for centre in centres %}
            <tr>
                <td style="font-size: 20px; text-align: center; line-height: 45px;">{{centre.id}}</td>
                {% if centre.user is not None %}
                <td style="font-size: 20px; text-align: center; line-height: 45px;">{{centre.user.username}}</td>
                {% else %}
                <td style="font-size: 20px; text-align: center; line-height: 45px;"><span style="color: rgba(255, 0, 0, 0.775);">compte introvable</span></td>
                {% endif %}
                <td  style="font-size:14px; text-align: center; line-height: 45px;">{{centre.nom}}</td>
                <td  style="font-size:20px; text-align: center; line-height: 45px;">{{centre.wilaya}}</td>
                {% if centre.user is None %}
                <td style="font-size: 20px; line-height: 45px; display: flex; justify-content: center; align-items: center;"><a href="{% url 'create_centre_user' centre.id %}" class="btn btn-primary">Créer un compte</a><div style="background: #333; width: 2px; height: 30px; margin: 5px;"></div><a href="{% url 'update_centre' centre.id %}" class="btn btn-danger">Editer</a><div style="background: #333; width: 2px; height: 30px; margin: 5px;"></div><a href="{% url 'delete_centre' centre.id %}" class="btn btn-danger">Supprimer</a></td>
                {% else %}
                <td style="font-size: 20px; line-height: 45px; display: flex; justify-content: center; align-items: center;"><i class="fa-solid fa-square-check"></i><div style="background: #333; width: 2px; height: 30px; margin: 5px;"></div><a href="{% url 'update_centre' centre.id %}" class="btn btn-danger">Editer</a><div style="background: #333; width: 2px; height: 30px; margin: 5px;"></div><a href="{% url 'delete_centre' centre.id %}" class="btn btn-danger">Supprimer</a></td></td>
                {% endif %}
            </tr>
        {% endfor %}
         
    </tbody>
</table>
</div>
</section>

{% endblock %}