{% extends 'base.html' %}
{% block content %}

<section class="liste">
    <h1 style="margin-bottom: 15px;" class="text-white">Recherche</h1>
    <div class="search bg-transparent text-white w-100 p-5">
        <form class="filter-search" method="GET">
          <div class="w-100" style="display: flex; justify-content: space-evenly;">
                   {{Filter.form.as_p}}
          </div>
          <input type="submit" value="Rechercher" class="btn btn-danger" style="height: 40px; position: relative; top: 25px; left: 20px;">
        </form>
    </div>
    <hr style=" width: 100%; background: #fff;">
    <a href="{% url 'create_examinateur' %}" class="btn btn-primary" style="display: block;">Ajouter un examinateur</a>
  <div class="table w-100" >
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>nom</th>
            <th>wilaya</th>
            <th>centre examen</th>
            <th>action</th>
          </tr>
          
        </thead>
        <tbody style="background: #fff;">
            {% for examinateur in examinateures %}
          <tr>
            <td>{{examinateur.id}}</td>
            <td>{{examinateur.nom}}</td>
            <td>{{examinateur.wilaya}}</td>
            <td>{{examinateur.centre_examen}}</td>
            <td style="font-size: 20px; line-height: 45px; display: flex; align-items: center;"><a href="{% url 'update_examinateur' examinateur.id %}" class="btn btn-danger">Editer</a><div style="background: #333; width: 2px; height: 30px; margin: 5px;"></div><a href="{% url 'delete_examinateur' examinateur.id %}" class="btn btn-danger">Supprimer</a></td></td></td>   
          </tr>         
          {% endfor %}
          
        </tbody>
      </table>
    </div>    
</section>
{% endblock %}