{% extends 'base.html' %}
{% block content %}





<section class="contain" style="margin: 15px auto;">
    <div class="title">Editer une auto école</div>
      <div class="liste-group">
        <form method="POST" class="form">
            {% csrf_token %}
            {{form}}
          <div class="button-group mt-5">
            <input type="submit" class="btn btn-success" value="Sauvgarder" >
            <a href="{% url 'liste_auto_ecole' %}" class="btn btn-danger">Annuler</a>
          </div>
        </form>
      </div>
      
    </section>












{% endblock %}